.custom-input {
    width: 100%;
    padding: 10px;
    background-color: #4242428e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;

    &:disabled {
        background-color: #f0f0f0;
        cursor: not-allowed;
    }
}